name: Build Docker image and push to ECR

on:
  push:
    branches:
      - 'tech-*'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-east-1
      ECR_REPOSITORY: chief-keeper

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.GA_OIDC_EKS_PROD }}
        role-session-name: ChiefKeeperBuild
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push Docker image
      id: build-image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        BRANCH_NAME="${GITHUB_REF#refs/heads/}"
        SAFE_BRANCH="${BRANCH_NAME//\//-}"
        IMAGE_TAG="${SAFE_BRANCH}-${GITHUB_SHA:0:7}"
        docker build -t $REGISTRY/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG .
        docker push $REGISTRY/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG
        echo "image=$REGISTRY/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG" >> $GITHUB_OUTPUT

    - name: Display pushed image
      run: echo "Pushed image ${{ steps.build-image.outputs.image }}"
